@import './variables.scss';
@import './mixins.scss';

.about {
  &__content {
    margin: 0;
    display: flex;

    @media screen and (max-width: 960px) {
      flex-direction: column;
    }
  }

  &__description {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media screen and (max-width: 960px) {
      flex-basis: auto;
    }
  }

  &__title {
    margin: 0;
    @include font-config(50px, 500, 1.4, $dark-color);

    @media screen and (max-width: 720px) {
      font-size: 40px;
      line-height: 1.2;
    }
  }

  &__bold {
    font-weight: 700;
  }

  &__subtitle {
    margin: 20px 0 0;
    @include font-config(16px, 400, 1.87, $gray-color);

    @media screen and (max-width: 960px) {
      margin-top: 10px;
    }
  }

  &__medium {
    font-weight: 500;
  }

  &__link {
    box-sizing: border-box;
    display: inline-block;
    margin: 50px 0 0;
    @include font-config(16px, 700, 1.56, $white-color);
    padding: 17px 77px;
    background-color: $red-color;
    text-decoration: none;
    border-radius: 10px;
    white-space: nowrap;
    position: relative;
    text-align: center;

    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 20px;
      left: -30px;
      top: 0;
      background-color: rgba($color: #fff, $alpha: 0.7);
      transform: skew(-25deg);
      transition: left $animation-duration;
    }

    &:hover::before {
      animation: button-blick $animation-duration ease 0s 1;
    }

    @media screen and (max-width: 960px) {
      margin-top: 30px;
      align-self: center;
    }

    @media screen and (max-width: 720px) {
      font-size: 14px;
      line-height: 1.2;
      padding: 14px 60px;
      margin-top: 15px;
      align-self: stretch;
    }
  }

  &__illustration {
    flex-basis: 50%;
    max-width: 50%;
    height: auto;
    object-fit: cover;
    object-position: center;

    @media screen and (max-width: 960px) {
      flex-basis: auto;
      max-width: none;
      margin-top: 20px;
      align-self: stretch;
    }
  }
}
