@keyframes button-blick {
  0% {
    left: -30px;
  }
  100% {
    left: calc(100% + 30px);
  }
}

@keyframes button-scale {
  0%,
  50%,
  100% {
    transform: scale(1);
  }

  25%,
  75% {
    transform: scale(1.3);
  }
}
