@import './variables.scss';
@import './mixins.scss';
@import './general.scss';

.features {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 720px) {
    flex-direction: column;
    align-items: center;
  }

  &__illustration {
    width: 50%;
    height: auto;
    object-fit: cover;
    object-position: center;

    @media screen and (max-width: 720px) {
      width: auto;
      align-self: stretch;
    }
  }

  &__text {
    margin-left: 15px;
    width: 50%;

    @media screen and (max-width: 720px) {
      width: 80%;
      margin-left: 0;
    }
  }

  &__title {
    @include font-config(35px, 500, 1.43, $dark-color);

    @media screen and (max-width: 720px) {
      font-size: 25px;
    }
  }

  &__subtitle {
    margin: 20px 0 0;
    @include font-config(18px, 400, 1.87, $gray-color);

    @media screen and (max-width: 720px) {
      font-size: 16px;
      line-height: 1.4;
    }
  }

  &__list {
    @extend .list-reset;
    margin: 20px 0 0;
  }

  &__item {
    display: flex;
    align-items: center;

    &:not(:first-child) {
      margin-top: 15px;
    }
  }

  &__circle {
    display: inline-block;
    margin-right: 12px;
    width: 20px;
    height: 20px;
    background-color: #2fab73;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: '\2714';
      color: $white-color;
      font-size: 13px;
    }
  }

  &__item-text {
    margin: 0;
    @include font-config(16px, 400, 2.14, $gray-color);

    @media screen and (max-width: 720px) {
      font-size: 14px;
      line-height: 1.8;
    }
  }
}
