@import './variables.scss';
@import './mixins.scss';
@import './general.scss';

.footer {
  background-color: #f8f8f8;

  &__wrapper {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1024px) {
      flex-direction: column-reverse;
    }
  }

  &__column {
    flex-basis: 340px;

    @media screen and (max-width: 1024px) {
      flex-basis: auto;
    }
  }

  &__subtitle {
    margin: 20px 0 0;
    @include font-config(16px, 400, 1.87, $gray-color);
  }

  &__bold {
    font-weight: 500;
  }

  &__info {
    margin-top: 30px;
  }

  &__social-list {
    @extend .list-reset;
    display: flex;
  }

  &__social-item:not(:first-child) {
    margin-left: 20px;
  }

  &__social-link {
    display: inline-block;
    width: 34px;
    height: 34px;
    background-color: $white-color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow $animation-duration;

    &:hover {
      box-shadow: 0 0 2px 2px $red-color;
    }
  }

  &__img {
    max-width: 18px;
    max-height: 18px;
    fill: $red-color;
  }

  &__author {
    margin: 30px 0 0;
    @include font-config(16px, 400, 1.87, #afb5c0);
  }

  &__menu {
    list-style: none;
    padding: 0;
    margin: 0 0 0 230px;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media screen and (max-width: 1024px) {
      margin: {
        left: 0;
        bottom: 80px;
      }
      justify-items: center;
      flex-grow: 0;
    }

    @media screen and (max-width: 720px) {
      row-gap: 40px;
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 540px) {
      grid-template-columns: 1fr;
      justify-items: left;
    }
  }

  &__item:nth-child(3) {
    @media screen and (max-width: 720px) {
      grid-column: 1/3;
    }

    @media screen and (max-width: 540px) {
      grid-column: 1;
    }
  }

  &__title {
    margin: 0;
    @include font-config(18px, 500, 1.67, $dark-color);
  }

  &__submenu {
    padding: 0;
    list-style: none;
    margin: 20px 0 0;
  }

  &__subitem:not(:first-child) {
    margin-top: 10px;
  }

  &__link {
    display: block;
    text-decoration: none;
    @include font-config(16px, 400, 1.87, $gray-color);
    transition: opacity $animation-duration;

    &:hover {
      opacity: $opacity;
    }
  }
}
