@import './variables.scss';
@import './general.scss';
@import './mixins.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu {
    @media screen and (max-width: 960px) {
      display: none;
    }
  }

  &__list {
    @extend .list-reset-defult;
    display: flex;
  }

  &__item {
    transition: opacity $animation-duration;
    padding: 0 15px;

    &:hover {
      opacity: $opacity;
    }
  }

  &__link {
    box-sizing: border-box;
    display: block;
    text-decoration: none;
    @include font-config(16px, 400, 1.19, $gray-color);
    width: 100%;
    height: 100%;
    padding: 5px;
    transition: border-color $animation-duration;
    border-bottom: 2px solid transparent;

    &:hover {
      border-bottom-color: rgba($color: $gray-color, $alpha: 0.7);
    }
  }

  &__auth {
    display: flex;
    align-items: center;

    @media screen and (max-width: 960px) {
      margin: 0 40px 0 auto;
    }

    @media screen and (max-width: 720px) {
      display: none;
    }
  }

  &__signin,
  &__signup {
    box-sizing: border-box;
    @include font-config(16px, 500, 1.19, $dark-color);
    border: 0;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
    transition: color $animation-duration;
  }

  &__signin {
    padding: 13px 30px;

    &:hover {
      color: $red-color;
    }
  }

  &__signup {
    color: $red-color;
    padding: 13px 45px;
    border: 1px solid $red-color;
    border-radius: 50px;
    margin-left: 15px;
    position: relative;
    overflow: hidden;
    z-index: 0;

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 0;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba($color: $red-color, $alpha: 1);
      transition: width $animation-duration;
      z-index: -1;
    }

    &:hover {
      color: #fff;

      &::before {
        width: 100%;
      }
    }
  }

  &__button-menu {
    box-sizing: border-box;
    display: none;
    outline: 0;
    border: 2px solid transparent;
    padding: 2px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      animation: button-border 0.5s linear 0s 1;
    }

    @media screen and (max-width: 960px) {
      display: block;
    }
  }

  &__button-element,
  &__button-element::before,
  &__button-element::after {
    display: block;
    width: 100%;
    height: 4px;
    background-color: $gray-color;
    border-radius: 4px;
  }

  &__button-element {
    position: relative;
    transition: background-color $animation-duration;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      transition: transform $animation-duration;
    }

    &::before {
      transform: translateY(-13px);
    }

    &::after {
      transform: translateY(13px);
    }
  }

  &__button-menu_active &__button-element {
    background-color: transparent;
  }

  &__button-menu_active &__button-element::before {
    transform: rotate(45deg);
  }

  &__button-menu_active &__button-element::after {
    transform: rotate(-45deg);
  }
}
