@import './variables.scss';
@import './general.scss';

.resources {
  &__list {
    @extend .list-reset;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 180px));
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    @media screen and (max-width: 420px) {
      justify-content: center;
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    transition: opacity $animation-duration;

    &:hover {
      opacity: $opacity;
    }
  }

  &__img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
    height: 100%;
  }
}
